{% extends "base.html" %}

{% block content %}
<!-- Profile -->
<div class="mt-3">
	<h1>Hi {{current_user.first_name.capitalize()}}</h1>
	<h4>Your profile information below:</h4>
</div>
<div class="mt-4" id="profile-details">
	<p><span class="font-weight-bold">Email:</span> {{current_user.email}}</p>
	<p><span class="font-weight-bold">First Name:</span> {{current_user.first_name.capitalize()}}</p>
	<p><span class="font-weight-bold">Password:</span> *****</p>
	<p><span class="font-weight-bold">Date of Birth:</span> {{current_user.dob.strftime("%m/%d/%Y")}}</p>
</div>
<form action="{{ url_for('update', user_id=current_user.id) }}">
	<div class="mt-4">
		<input type="button" class="btn btn-outline-primary" id="edit-button" value="Edit" onclick="window.location.href='{{ url_for('update', user_id=current_user.id) }}'"></input>
	</div>
</form>

{% endblock %}